<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The home page! <%= 'hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, numquam natus non quasi excepturi nemo velit! Dicta laborum eum minus voluptas sapiente. Explicabo fuga blanditiis possimus! Nostrum voluptatem molestiae cupiditate?
    Illum, distinctio perspiciatis ducimus sint illo autem velit quasi ut officiis nisi ratione doloribus laboriosam ea nostrum ipsum fugiat natus ab consequatur facilis corporis nulla sed dolor aut. Eveniet, itaque!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus maiores fugit illum eius, assumenda veritatis ad temporibus, esse exercitationem minus quod totam cupiditate! A nam animi unde possimus ratione ullam?</p>
</body>
</html>