body {
    height: 100vh;
    background-image: url(laughing_dog.jpg), repeating-linear-gradient(yellow 50px, magenta 50px 100px, yellow 100px 150px);
    background-position: center, top;
    background-size: 55%, 100%;
    background-repeat: no-repeat, repeat;
    display: flex;
    justify-content: center;
}

button {
    width: 25%;
    position: absolute;
    top: 80%;
}

.card {
    position: fixed;
    width: 48%;
    height: 30%;
    top: 12%;
    border: 0.2rem solid black;
    align-items: center;
}